<%= content_for(:title) { 'My Tokens' } %>

<h1>My Active Tokens</h1>

<table class="tokens">
  <thead>
    <tr>
      <th class="digest">Token digest</th>
      <th class="last-used">Last used</th>
      <th class="created">Created</th>
    </tr>
  </thead>
    <% @tokens.each do |token| %>
      <tr>
        <td class="digest"><%= token.body %></td>
        <td class="last-used"><%= token.last_used_at %></td>
        <td class="created"><%= token.created_at %></td>
      </tr>
    <% end %>
</table>

<%= form_with url: admin_authentication_tokens_path do |f| %>
  <%= f.submit 'Create new' %>
<% end %>
