<%= render 'step_title', title: 'Declaration', step: 5, of: 5 %>

<h3>By completing this application for membership you agree:</h3>

<ul>
  <li>to abide by the union <%= link_to 'rules', 'https://www.forsa.ie/about-forsa/rule/' %> and decisions taken in accordance with these rules</li>
  <li>that the information provided is correct to the best of your knowledge and that Fórsa can use this information to contact you about necessary union business</li>
  <li>that you authorise your employer to deduct your union subscription from your salary/wages and to pay this amount to Fórsa on your behalf</li>
  <li>that Fórsa can notify your employer to commence this deduction as soon as possible and continue it until further written or electronic notice either from you or Fórsa, as appropriate.</li>
  <li>should you take a career break or unpaid absence, you authorise the reinstatement of your union subscriptions following this period</li>
  <li>that you authorise your employer to provide to Fórsa details of your deductions, together with updates of the personal and employment-related data in connection with your union membership</li>
</ul>

<%= form_for @membership_application, url: wizard_path do |f| %>
  <fieldset>
    <%= f.label :declaration %>
    <%= help_for :declaration, full_name: @membership_application.full_name %>
    <%= f.text_field :declaration %>

    <section class="callout secondary">
      <h3>A note about help with existing problems at work</h3>
      <p>
        Fórsa helps our members. To receive help with a problem at work you must be a member.
        We may not always be able to assist with a problem that occurred before you became a member.
      </p>

      <p><strong>
        If you have any questions about this, please email us at
        <%= link_to t('site_email'), "mailto:#{t('site_email')}" %> or
        call us on <%= link_to '01 817 1500', 'tel:01 817 1500' %>
      </strong></p>
    </section>

    <%= f.submit 'Finish' %>
  </fieldset>
<% end %>
