<%= render 'step_title', title: 'Declaration', step: 5, of: 5 %>

<h3>By completing this application for membership you agree:</h3>

<ul>
  <li>To abide by the union <%= link_to 'rules', 'https://www.forsa.ie/about-forsa/rule/', target: '_blank' %> and decisions taken in accordance with these rules</li>
  <li>That the information provided is correct to the best of your knowledge and that Fórsa can use this information to contact you about necessary union business</li>
  <li>That you authorise your employer to deduct your union subscription from your salary/wages and to pay this amount to Fórsa on your behalf</li>
  <li>That Fórsa can notify your employer to commence this deduction as soon as possible and continue it until further written or electronic notice either from you or Fórsa, as appropriate</li>
  <li>To allow Fórsa to reinstate your union subscriptions after you take a career break or unpaid absence</li>
  <li>To allow your employer to give Fórsa details of your deductions, together with updates of relevant personal and employment-related data in connection with your union membership</li>
</ul>

<%= form_for @membership_application, url: wizard_path do |f| %>
  <fieldset>
    <%= f.label :declaration %>
    <%= help_for :declaration, full_name: @membership_application.full_name %>
    <%= f.text_field :declaration %>
    <p class="help-text">
      (Subject to final processing and authorisation by your branch and/or the National Executive Committee)
    </p>

    <section class="callout secondary">
      <h3>A note about help with existing problems at work</h3>
      <p>
        Fórsa helps our members. To receive help with a problem at work you must be a member.
        We may not always be able to assist with a problem that occurred before you became a member.
      </p>

      <p><strong>
        If you have any questions about this, please email us at <%= site_email %> or
        call us on <%= site_tel %>
      </strong></p>
    </section>

    <%= f.submit 'Finish' %>
  </fieldset>
<% end %>
