<%= render 'step_title', title: 'Your work and pay', step: 3, of: 4 %>

<%= form_for @membership_application, url: wizard_path do |f| %>
  <fieldset>
    <%= f.label :job_title %>
    <%= form_field_errors f, :job_title %>
    <%= f.text_field :job_title %>

    <%= f.label :employer %>
    <%= form_field_errors f, :employer %>
    <%= f.text_field :employer %>

    <%= f.label :work_address %>
    <%= form_field_errors f, :work_address %>
    <%= f.text_area :work_address, rows: 5 %>

    <%= f.label :payroll_number %>
    <%= form_field_errors f, :payroll_number %>
    <%= help_for :payroll_number %>
    <%= f.text_field :payroll_number, placeholder: true %>

    <%= f.label :pay_rate %>
    <%= form_field_errors f, :pay_rate %>
    <%= help_for :pay_rate %>
    <%= f.text_field :pay_rate %>

    <fieldset class="radio-group-horizontal">
      <label class="side-note">Every:</label>
      <div>
        <%= f.collection_radio_buttons :pay_unit, MembershipApplication::PAY_UNIT, :to_s, :capitalize %>
      </div>
    </fieldset>

    <section class="hours-per-week hide">
      <%= f.label :hours_per_week %>
      <%= form_field_errors f, :hours_per_week %>
      <%= help_for :hours_per_week %>
      <%= f.text_field :hours_per_week %>
    </section>

    <section class="hide monthly-estimate">
      <label>
        Based on your salary, your monthly payment will be
        €<span id="monthly-estimate-value">#NOVALUE</span>
      </label>

      <%= help_for :monthly_estimate %>
    </section>

    <%= f.submit 'Next' %>
  </fieldset>
<% end %>
