<%= render 'step_title', title: 'Your subscription rate', step: 4, of: 5 %>

<%= form_for @membership_application, url: wizard_path do |f| %>
  <fieldset>
    <%= f.label :pay_rate %>
    <%= form_field_errors f, :pay_rate %>
    <%= help_for :pay_rate %>
    <span class="input-euro">
      <%= f.text_field :pay_rate %>
    </span>

    <fieldset class="radio-group-horizontal">
      <label class="side-note">Every:</label>
      <div>
        <%= f.collection_radio_buttons :pay_unit, MembershipApplication::PAY_UNIT, :to_s, :capitalize %>
      </div>
    </fieldset>

    <section class="hours-per-week hide">
      <%= f.label :hours_per_week %>
      <%= form_field_errors f, :hours_per_week %>
      <%= help_for :hours_per_week %>
      <%= f.text_field :hours_per_week %>
    </section>

    <section class="hide monthly-estimate">
      <div class="hide spinner-overlay">
        <div class="lds-dual-ring"></div>
      </div>
      <%= f.hidden_field :applicant_saw_monthly_estimate %>
      <%= f.hidden_field :technical_grade %>
      <label>
        Based on your salary, your monthly payment will be
        €<span id="monthly-estimate-value">
          <%= @membership_application.applicant_saw_monthly_estimate %>
        </span>
      </label>

      <div class="help-text">
        <p>
          This is calculated at <span id="subscription-rate">0.8</span>%
          of your gross salary, which is what the majority of our members pay.
        </p>

        <p>Some branches are calculated at a different rate.
          If your branch is one of these we will notify you in advance of any payment being processed.</p>

        <p>Your employer will apply the deduction directly to your pay and provide it to us on your behalf.</p>
      </div>
    </section>

    <%= f.submit 'Next' %>
  </fieldset>
<% end %>
