<h1>
  Thank you.<br />
  Welcome to Fórsa!
</h1>

<% if @membership_application.nil? %>
  <div class="callout secondary">
    <p class="h4"><strong><%= t('thanks_on_completion') %></strong></p>
  </div>
<% else %>
  <h3>Your application is complete, but we have two final questions for you:</h3>

  <div class="callout secondary">
    <%= form_with model: @membership_application do |f| %>
      <%= f.label :previous_union %>
      <%= help_for :previous_union %>
      <%= f.text_field :previous_union %>

      <%= f.label :income_protection %>
      <p class="help-text">
        <%= link_to 'More information about this', income_protection_info_path, target: '_blank' %>
      </p>
      <fieldset class="radio-group-vertical">
        <%= f.collection_radio_buttons :income_protection, MembershipApplication::INCOME_PROTECTION, :first, :last do |b| %>
          <% b.label { b.radio_button + b.text } %>
        <% end %>
      </fieldset>

      <%= f.submit 'Submit' %>
    <% end %>
  </div>
<% end %>

<h2 class="h4">Here is what will happen next:</h2>

<ul class="no-bullet">
  <li><p><strong>Now:</strong> You will get an email from us confirming your details.</p></li>
  <li><p><strong>Next month:</strong> You will be assigned to a branch and will receive your membership card and pack.<sup>*</sup></p></li>
  <li><p><strong>From then on:</strong> You are protected at work and benefit from the collective strength of being part of Fórsa and will also be able to access member benefits and offers.</p></li>
</ul>

<p class="h4"><strong>You are one of over 80,000 Fórsa members. Thank you for joining us.</strong></p>

<p class="side-note"><sup>*</sup>Subject to final processing and authorisation by your branch and/or the National Executive Committee<p>
