<h1>Application complete - THANK YOU!</h1>

<% if @membership_application.answered_post_join? %>
  <div class="callout secondary">
    <h3><%= t('thanks_on_completion') %></h3>
  </div>
<% else %>
  <h3>Your application is complete, but we have two final questions for you:</h3>

  <div class="callout secondary">
    <%= form_with model: @membership_application do |f| %>
      <%= f.label :previous_union %>
      <%= help_for :previous_union %>
      <%= f.text_field :previous_union %>

      <%= f.label :income_protection %>
      <p class="help-text">
        <%= link_to 'More information about this', income_protection_info_path, target: '_blank' %>
      </p>
      <fieldset class="radio-group-vertical">
        <%= f.collection_radio_buttons :income_protection, MembershipApplication::INCOME_PROTECTION, :first, :last do |b| %>
          <% b.label { b.radio_button + b.text } %>
        <% end %>
      </fieldset>

      <%= f.submit 'Submit' %>
    <% end %>
  </div>
<% end %>

<h2>Here’s what happens next…</h2>

<ol>
  <li>You’ll get an email from us confirming that we have received your application and asking you to verify it by clicking on a link (this may or maynot be necessary but it might provide an additional protection for GDPR)</li>
  <li>We will notify your branch of your application and we will ask your employer to deduct your union subscriptions</li>
  <li>You’ll get an email informing you of your branch details and how to access additional union benefits</li>
  <li>You’ll receive your membership card with your unique membership number</li>
  <li>You now have a voice in the workplace, and benefit from the collective strength of being one of Fórsa’s 80,000+ members*</li>
</ol>

<p>Thank you for joining us.</p>

<p class="side-note">(*Subject to final processing and authorisation)<p>
