<h1>
  Thank you.<br />
  Welcome to Fórsa!
</h1>

<% if @membership_application.answered_post_join? %>
  <div class="callout secondary">
    <p class="h4"><strong><%= t('thanks_on_completion') %></strong></p>
  </div>
<% else %>
  <h3>Your application is complete, but we have two final questions for you:</h3>

  <div class="callout secondary">
    <%= form_with model: @membership_application do |f| %>
      <%= f.label :previous_union %>
      <%= help_for :previous_union %>
      <%= f.text_field :previous_union %>

      <%= f.label :income_protection %>
      <p class="help-text">
        <%= link_to 'More information about this', income_protection_info_path, target: '_blank' %>
      </p>
      <fieldset class="radio-group-vertical">
        <%= f.collection_radio_buttons :income_protection, MembershipApplication::INCOME_PROTECTION, :first, :last do |b| %>
          <% b.label { b.radio_button + b.text } %>
        <% end %>
      </fieldset>

      <%= f.submit 'Submit' %>
    <% end %>
  </div>
<% end %>

<h2 class="h4">Here’s what will happen next.</h2>

<ul class="no-bullet">
  <li><p><strong>Now:</strong> You’ll get an email from us confirming your membership details.</p></li>
  <li><p><strong>This month:</strong> You’ll be assigned to a branch and will receive your membership card and pack.</p></li>
  <li><p><strong>From now on:</strong> You’re protected at work and will benefit from collectively negotiated improvements to pay and conditions.</p></li>
</ul>

<p class="h4"><strong>You’re one of over 80,000 Fórsa members. Thanks for joining us.</strong></p>

<p class="side-note">(*Subject to final processing and authorisation by your branch and/or the National Executive Committee)<p>
