<section class="callout primary">
  <h1>Join Today</h1>

  <p>
    <strong>
      We are Ireland’s newest and fastest-growing union with over 80,000 members.
    </strong>
  </p>
  <p>
    Fórsa is the largest union in the public sector, with a strong and vibrant membership across the semi-state, private and community/voluntary sectors.
  </p>
  <p>
    We win better terms and conditions for our members, provide expert representation, professional advice, workplace support and protection.
  </p>
  <p>
    Most members pay less than €5 a week, deducted directly from their salary.
  </p>
</section>

<section>
  <h2>Get started</h2>
  <p class="side-note">
    We’ll use this information to get  in touch with you about your membership application.
  </p>

  <%= form_for(@membership_application, url: membership_application_path) do |f| %>
    <fieldset>
      <div class="cell">
        <%= f.label :first_name %>
        <%= form_field_errors f, :first_name %>
        <%= f.text_field :first_name, placeholder: true %>
      </div>

      <div class="cell">
        <%= f.label :email %>
        <%= form_field_errors f, :email %>
        <%= help_for 'email' %>
        <%= f.text_field :email, placeholder: true %>
      </div>

      <section class="callout secondary">
        <h3>A note about help with existing problems at work</h3>
        <p>Fórsa helps our members. Unfortunately, we are unlikely to be able to help
          with problems that occurred at work before you became a member.</p>

        <p><strong>
          If you have any questions about this, please <%= link_to 'Email us', 'mailto:membership@forsa.ie' %> or
          call us on <%= link_to '01 817 1500', 'tel:01 817 1500' %>
        </strong></p>
      </section>

      <div class="cell">
        <%= f.submit 'Get started' %>
      </div>
    </fieldset>
  <% end %>
</section>
