<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_pack_tag "application", 'data-turbolinks-track' => 'reload' %>

    <%= favicon_link_tag 'apple-touch-icon.png', sizes: '180x180', rel: 'apple-touch-icon', type: 'image/png'  %>
    <%= favicon_link_tag 'favicon-32x32.png', sizes: '32x32', type: 'image/png'  %>
    <%= favicon_link_tag 'favicon-16x16.png', sizes: '16x16', type: 'image/png'  %>
  </head>

  <body>
    <div class="grid-container">
      <header class="grid-x align-center">
        <div class="cell medium-8 large-8">
          <%= image_tag 'forsa_logo.svg', class: 'logo' %>
        </div>
      </header>

      <div class="grid-x align-center">
        <article class="cell medium-8 large-8 content">
          <%= yield %>
        </article>
      </div>
    </div>

    <div class="grid-container-fluid">
      <footer class="grid-x">
        <ul class="cell">
          <li><%= link_to 'How we use your data', '#' %></li>
          <li><%= link_to 'Privacy policy', '#' %></li>
          <li>©2020 Forsa. All rights reserved.</li>
        </ul>
      </footer>
    </div>
  </body>
</html>
